body {
  padding-top: 57px; }

hr {
  color: red;
  background-color: red;
  height: 1px; }

.notification_table > tbody > tr > td {
  border-top: none; }

.navbar-nav > li > a {
  padding-top: 9px;
  padding-bottom: 9px; }

.navbar-left {
  margin-left: -15px; }

#photo-map {
  padding-left: 40px;
  padding-right: 40px; }

#notifications_map_canvas {
  height: 270px;
  margin: 60px 65px 10px 65px;
  padding: 0px; }

#notifications_map_caption {
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 50px;
  color: #8b8989; }

#notification_map_canvas {
  height: 270px;
  width: auto; }

.table td {
  border-color: red; }
.table th {
  color: red;
  font-weight: normal; }
.table tr {
  color: #8b8989; }

.btn {
  box-shadow: 0px 1px 2px #8b8989; }

#footer {
  margin-top: 150px; }
  #footer p {
    color: #8b8989; }
  #footer a {
    padding-left: 10px;
    padding-right: 10px; }

#signin {
  width: 360px; }
  #signin h1 {
    font-size: 20px;
    color: #3c3c3c;
    margin-bottom: 5px; }
  #signin h2 {
    font-size: 14px;
    color: #8b8989;
    margin-top: 8px; }
  #signin p {
    font-size: 12px;
    color: #8b8989; }
  #signin form {
    margin-top: 11px;
    margin-bottom: 14px; }
  #signin .form-group {
    margin-top: 10px;
    margin-bottom: 10px; }
  #signin .form-control {
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.8; }
  #signin #signin_logo {
    margin-top: 100px;
    margin-bottom: 25px; }
  #signin #signin_main p {
    margin-top: 8px;
    margin-bottom: 8px; }
  #signin #signin_register {
    margin-bottom: 187px; }
    #signin #signin_register p {
      margin-top: 13px;
      margin-bottom: 13px; }
