// Bootstrap variables
// Colors
$brand-primary: red

// Typography
$font-family-sans-serif: PT-Sans, Helvetica, Arial, sans-serif

// Tables
$table-border-color: $brand-primary

// Dropdowns
$grid-float-breakpoint: 0px

// Navbar
$navbar-height: 57px
$navbar-default-bg: #00a2c6
$navbar-default-link-color: white

@import bootstrap

body
  padding-top: $navbar-height

hr
  color: $brand-primary
  background-color: $brand-primary
  height: 1px

.notification_table > tbody > tr > td
  border-top: none

// Padding for logo in navigation bar
.navbar-nav > li > a
  padding-top: 9px
  padding-bottom: 9px

// Push logo to the left
.navbar-left
  margin-left: -15px

#photo-map
  padding-left: 40px
  padding-right: 40px

// Notification map for multiple notifications
#notifications_map_canvas
  height: 270px
  margin: 60px 65px 10px 65px
  padding: 0px

#notifications_map_caption
  margin-left: 65px
  margin-right: 65px
  margin-bottom: 50px
  color: #8b8989

// Notification map for single notification
#notification_map_canvas
  height: 270px
  width: auto

.table
  td
    border-color: $brand-primary
  th
    color: $brand-primary
    font-weight: normal
  tr
    color: #8b8989

.btn
  box-shadow: 0px 1px 2px #8b8989

// Styling for footer
#footer
  margin-top: 150px
  p
    color: #8b8989
  a
    padding-left: 10px
    padding-right: 10px

#signin
  width: 360px
  h1
    font-size: 20px
    color: #3c3c3c
    margin-bottom: 5px
  h2
    font-size: 14px
    color: #8b8989
    margin-top: 8px
  p
    font-size: 12px
    color: #8b8989
  form
    margin-top: 11px
    margin-bottom: 14px
  .form-group
    margin-top: 10px
    margin-bottom: 10px
  .form-control
    margin-top: 3px
    margin-bottom: 3px
    opacity: 0.8
  #signin_logo
    margin-top: 100px
    margin-bottom: 25px
  #signin_main
    p
      margin-top: 8px
      margin-bottom: 8px
  #signin_register
    margin-bottom: 187px
    p
      margin-top: 13px
      margin-bottom: 13px
